/*header*/
.active {
  background-color: #e97b0e;
}

.navbar-inverse {
  background-color: #e97b0e;
  border-color: #e97b0e;
}

.navbar-inverse a:hover {
  color: #fff
}

.navbar-inverse .navbar-brand {
  color: #320046;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #c9b0b0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #320046;
}

.navbar-nav.navbar-right {
  margin-right: 0;
}

.navbar-nav.navbar-right>li {
  float: right;
}

/* Adjusting dropdown position */
.dropdown-menu {
  left: auto;
  right: 0;
}

/*below header section*/

html {
  scroll-behavior: smooth;
}

.bg {
  background-image: url(images/pizza1.jpg);
  min-height: 551px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-3%, -55%);
  -ms-transform: translate(-50%, -50%);
  /* text-align: center; */
}

.bg:hover {
  opacity: 0.9;
}

.bg:hover .middle {
  opacity: 1;
}

.text {
  font-weight: bolder;
  width: auto;
  height: auto;
  background: rgb(207, 207, 212);
  background: rgba(223, 133, 30, 0.7);
  box-sizing: border-box;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  line-height: 30px;
}

/* for gallery section */

.gallery {
  margin-top: 70px;
  margin-bottom: 50px;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #c57c41;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}



/* for testimonials*/

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide>img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 33%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 6px solid #e97b0e;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #e97b0e;
  transition: background-color 0.6s ease;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -0.7rem;
  left: -2.8rem;
  line-height: 1;
  font-size: 60px;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}


/* for about page*/
.main {
  width: 43px;
  margin-top: -10px;
}

.body-1 {
  width: 262px;
  height: 252px;
  margin-right: 180px;
}

.body-2 {
  margin-left: 66px;
  padding-top: 10px;
  margin-top: 34px;
  margin-bottom: 44px;
  padding-bottom: 61px;
  line-height: 30px;
}

.about-2 {
  text-align: center;
  font-size: 16px;
  margin-right: 175px;
  line-height: 30px;
  margin-left: 152px;
}

.dropdown-menu {
  position: absolute;
  padding-top: 20px;
  left: 0;
  display: none;
  min-width: 255px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


/*for about section*/
.about-1 {
  margin-top: 48px;
}

.gallery-1 {
  margin-top: 33px;
}

.gallery-2 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.gallery-1::after {
  content: "";
  clear: both;
  display: table;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #320046;
  }

  .navbar-nav.navbar-right {
    float: none;
    margin-right: 0;
  }

  .navbar-nav.navbar-right>li {
    float: none;
  }

  .dropdown-menu {
    position: relative;
    left: auto;
    right: auto;
  }
}

.back-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}


/*for sign in and log in page*/
.sign-1 {
  background-image: url(images/pizza1.jpg);
  min-height: 677px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
  background-size: cover;
  position: relative;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.signin {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  float: right;
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 464px;
  text-align: center;
  margin-right: 102px;
  margin-top: 119px;
}

h1 {
  color: #e97b0e;
}

label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}


input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.buttom-click {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #e97b0e;
  width: 100%;
  font-size: 16px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*for footer*/
footer{
  background-color: #ea7516;
    display: flex;
    color: #320046;
}

input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ea7516;
  color: white;
  padding: 12px 20px;
  border-color: #bf5a08;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #ff8328;
}

/* Add a background color and some padding around the form */
.cont {
  border-radius: 5px;
  padding: 20px;
  float: right;
  width: 50%;
}

.contact-end {
  position: relative;
  bottom: 0;
  width: 50%;
  padding: 20px;
  float: left;
}

.lead{
  font-size: 16px;
  text-align: center;
}

.col-md-4 a {
  color: #ffffff;
  text-decoration: none;
}

/* for social media */
.socials{
  float: right;
  width: 90%;
    margin-top: 30px;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-instagram {
  color: white;
}

.bottom-1 {
  text-align: center;
  padding-top: 20px;
}