/*style.css*/


.sign-1 {
    background-image: url(images/pizza1.jpg);
    min-height: 677px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
    background-size: cover;
    position: relative;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.signin {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    float: right;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 464px;
    text-align: center;
    margin-right: 102px;
    margin-top: 119px;
}

h1 {
    color: #e97b0e;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #e97b0e;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*for footer*/
.footer-1 {
    background-color: #e97b0e;
    color: #ffffff;
  }
  
  .footer-1 h6 {
    font-weight: bold;
  }
  
  .footer-1 .info_contact {
    margin-top: 60px;
    margin-bottom: 45px;
  }
  
  .footer-1 .info_contact .col-md-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .footer-1 .info_contact a {
    color: #ffffff;
  }
  
  .footer-1 .info_contact img {
    max-width: 100%;
    margin-right: 10px;
  }
  
  .footer-1 .info_form {
    margin: 0 auto;
    margin-bottom: 45px;
  }
  
  .footer-1 .info_form h4 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer-1 .info_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .footer-1 .info_form form input {
    background-color: #ffffff;
    border: none;
    -webkit-box-flex: 2.5;
    -ms-flex: 2.5;
    flex: 2.5;
    outline: none;
    color: #000000;
    min-height: 42.4px;
    padding-left: 15px;
  }
  
  .footer-1 .info_form form input ::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.2;
  }
  
  .footer-1 .info_form form input :-ms-input-placeholder {
    color: #ffffff;
    opacity: 0.2;
  }
  
  .footer-1 .info_form form input ::-ms-input-placeholder {
    color: #ffffff;
    opacity: 0.2;
  }
  
  .footer-1 .info_form form input ::placeholder {
    color: #ffffff;
    opacity: 0.2;
  }
  
  .footer-1 .info_form form button {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    display: inline-block;
    padding: 10px 30px;
    background-color: #4b208c;
    color: #ffffff;
    border-radius: 0;
    font-size: 15px;
    text-transform: uppercase;
  }
  
  .footer-1 .info_form form button:hover {
    background-color: #5625a1;
  }
  
  .footer-1 .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .footer-1 .info_social {
    display: -webkit-box;
    display: -ms-flexbox;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
  }
  
  .footer-1 .info_social img {
    width: 35px;
    margin-right: 8px;
  }
  